.sidebar .feather {
  display: block;
  z-index: 15;
  height: var(--icon-size);
  width: var(--icon-size);
  min-width: var(--icon-size);
}
.feather-home {
  fill: #f17a66;
}
.feather-monitor {
  fill: #f6d55cc7;
}
.feather-map {
  fill: #3caea3c7;
}
.feather-camera {
  fill: pink;
}
.feather-linkedin {
  fill: #2867b2;
}
.feather-github {
  fill: var(--grey5);
}
