:root {
  --grey0: rgb(10, 10, 10);
  --grey1: rgb(40, 40, 40);
  --grey2: rgb(90, 90, 90);
  --grey3: rgb(120, 120, 120);
  --grey4: rgb(150, 150, 150);
  --grey5: rgb(200, 200, 200);
  --grey6: rgb(220, 220, 220);
  --grey7: rgb(240, 240, 240);
  --grey8: rgb(250, 250, 250);
  --border: 1px solid var(--grey7);
}

// Always true:
#app .v-sidebar-menu {
  .vsm--scroll-wrapper > .vsm--list {
    height: 100%;
    border-right: var(--border);
  }
  .vsm--toggle-btn {
    background-color: var(--grey7);
  }

  .vsm--list {
    background-color: var(--grey8);
  }

  .vsm--link {
    text-transform: uppercase;

    //Actual text in sidebar
    .vsm--title {
      color: var(--grey2);
      font-size: 0.8rem;
      font-weight: 400;
    }
  }

  .vsm--link_level-2 {
    padding: 0px;
    border-bottom: none;

    .vsm--title {
      color: var(--grey4);
      font-size: 0.75rem;
    }
  }
}

#app .vsm_expanded {
  /* Container of items in sidebar*/
  .vsm--header {
    padding-left: 20px;
  }

  .vsm--link {
    padding-left: 0px;
    border-bottom: var(--border);
    box-shadow: none;

    &:hover {
      background-color: transparent;

      .vsm--title {
        color: var(--grey0);
      }
    }
  }

  // Never show icon when expanded
  .vsm--icon {
    display: none;
  }

  // The point is to keep this outside of the vsm--item_open case
  .vsm--dropdown {
    background-color: var(--grey8);
    padding-left: 25px;
    .vsm--item,
    .vsm--link {
      border-bottom: none;
    }
  }

  .vsm--link_level-1 {
    padding-left: 20px;
  }

  // Title of dropdown
  .vsm--item_open {
    background-color: var(--grey8);
    border-bottom: var(--border);
    // // When dropdown is open in expanded mode, the inner links of the dropdown.  Can't go above in vsm--dropdown bc the header of the dropdown (outside the --dropdown class) must be styled too
    .vsm--link {
      background-color: var(--grey8);
      color: var(--grey2);
      border-bottom: none;
    }
  }
}

#app .vsm_collapsed {
  .vsm--header {
    text-align: center;
  }

  .vsm--mobile-bg {
    background-color: var(--grey8);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: var(--border);
    border-left: none;
  }

  .vsm--mobile-item > .vsm--item .vsm--dropdown .vsm--list {
    border-radius: 4px;
    border-top-left-radius: 0px;
    padding: 15px;
    border: var(--border);
    margin-top: 5px;
    margin-left: 5px;
  }

  .vsm--link_level-1 {
    border-top: 1px solid var(--grey8);
    border-bottom: 1px solid var(--grey8);

    &.vsm--link_active {
      box-shadow: none !important;
    }
    .vsm--icon {
      color: white;
      background-color: var(--grey3);

      &:hover {
        background-color: var(--grey2);
      }
    }
  }
}
