.title-and-pill {
  padding-bottom: 5px;
}
.title {
  margin-right: 10px;
}
.pill {
  padding: 3px 5px;
  border: 1px solid var(--grey5);
  border-radius: 4px;
  color: var(--grey5);
  position: relative;
  top: -3px; // move it up 3px for more pleasing vertical centering
  font-size: 0.8rem;
  line-height: 2rem;
  font-family: monospace;
  cursor: pointer;
}
