body {
  font-family: Arial, sans-serif;
}

.loss,
.gain {
  font-size: 35px;
  font-weight: 800;
  width: min-content;
  margin-left: auto;
}

.loss {
  color: #ff0033;
  text-shadow: 0px 0px 1px #ff0033;
}

.gain {
  color: #0c0;
  text-shadow: 0px 0px 1px #0c0;
}

.readout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
}

.title,
.result {
  padding: 10px;
}

.title {
  color: grey;
  border-bottom: 2px solid darkgrey;
}
.shares {
  float: right;
}

.global {
  max-width: max-content;
  margin-bottom: 30px;
  margin-left: auto;
}