* {
  font-family: Helvetica, Arial, sans-serif;
}

input + span {
  color: rgb(70, 70, 70);
  font-size: 13px;
}
.container {
  max-width: 80%;
}

/* ACE27 style */
.number-header,
.system-header,
.header {
  font-weight: bold;
}

.header.middle {
  text-align: right;
}
.header.right {
  text-align: left;
}

.number-header {
  padding-top: 0px;
  vertical-align: text-top;
}

.number-header > p {
  margin-top: 0px;
  text-align: right;
}

p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.system-header {
  background-color: #cccccc;
  padding: 1.2pt;
  vertical-align: text-top;
}

.overall {
  background-color: black;
  color: white;
}

.grade-header {
  margin-top: 0px;
}
.row:not(:first-child) {
  margin-top: 0px;
}

.severe {
  background-color: #ff9999;
  color: indianred;
}

.moderate {
  background-color: #ccffcc;
  color: green;
}

.mild {
  background-color: #ccffff;
  color: skyblue;
}

.logo {
  width: 100%;
}
.logo img {
  height: auto;
  max-width: 100%;
}

td.gutter {
  padding: 0px;
  /* width: 0px; */
  width: 50px;
}

#resultBox {
  margin-bottom: 10px;
}

.resultContainer {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 10px;
}

.resultContainer input[type="button"] {
  width: 100%;
}

.row:not(:first-child) {
  margin-left: 10px;
}
.row span {
  margin-left: 5px;
}
.row span,
.row li {
  color: rgb(70, 70, 70);
  font-size: 13px;
}
.row {
  display: inline-block;
  width: calc((100% - 20px) / 3);
  vertical-align: top;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  .row:not(:first-child) {
    margin-left: 0px;
    margin-top: 15px;
  }
  .row {
    display: block;
    width: initial;
  }
}
