html, body {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
body {
    width:100vw;
    min-width: 780px;
    max-width: 1000px;
    height:380px;
}
rect {
     fill: white;
     rx: 2;
     ry: 2;
     stroke: grey;
     fill-opacity: .85;
}
.container {
    display: none;
    width:100vw;
    min-width: 780px;
    max-width: 1000px;
    padding: 0px;
    height: 350px;
    font-family: Helvetica;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.graph {
    width: 70%;
    height: 100%;
    display: block;
    background-color: #f1f1f1;
}

.minigraph {
    height: 18%;
}

.maingraph {
    height: calc(82% - 2px);
    border-width: 0px;
    border-top-width: 2px;
    border-color: grey;
    border-style: solid;
}

.controls {
    background-color: #f1f1f1;
    height: 100%;
    width: 30%;
    float: right;
    position: relative;
}
/*@media only screen and (max-width: 900px) {
    .container {
        width: 96vw;
        height: 100vh;
    }
    .graph {
        width: 65vw;
        height: 100%;
        display: block;
        background-color: #f1f1f1;
    }
    .controls {
        background-color: #f1f1f1;
        height: 100%;
        width: 31vw;
        float: right;
        position: relative;
    }
}*/
.shell, .console,.samplebutton:active {
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.shell {
    height: calc(100% - 10px - 10px - 66px - 15px);
    width: 12%;
    float: right;
    text-align: center;
    cursor: row-resize;
}

.console {
    margin: 10px;
    width: calc(100% - 10px - 10px - 7px);
    height: 66px;
    font-family: courier;
    font-size: 11px;
    background-color: white;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 3px;
    bottom: 0%;
    position: absolute;
    white-space: pre-wrap
}

.samplebutton {
    text-align: center;
    background-color: lightgrey;
    width: calc(100% - 12% - 12% - 10px - 10px - 10px - 10px - 10px - 5px);
    height: 22px;
    margin: 10px;
    line-height: 160%;
    bottom: calc(10px + 66px + 4px);
    position: absolute;
}

.samplebutton:hover {
    cursor: pointer;
}

.samplebutton:active {
    position: absolute;
    background-color: #bdbdbd;
}

#label {
    width: 60px;
}

table {
    table-layout: fixed;
    max-width: calc(100% - 12% - 12% - 10px - 10px - 10px - 10px - 10px - 10px);
    height: calc(100% - 10px - 10px - 24px - 4px - 66px - 10px);
    margin: 10px;
    border-spacing: 0px;
}

td {
    margin: 0px;
    padding: 0px;
}

input {
    width: 100%;
    margin: 0px;
    text-align: right;
    font-family: courier;
    font-size: 12px;
}

input:focus {
    outline: 0;
}

.inner {
    position: absolute;
    text-align: center;
    font-family: helvetica;
    color: #273746;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-slider-range-min {
    border-radius: 0px;
    fill-opacity:.7;
    background-color: Indianred;
    width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
    position: absolute;
}

#slider-vertical1, #slider-vertical2 {
    border-radius: 0px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-slider-tick-mark, .ui-slider-tick-mark_large {
    display: inline-block;
    width: 1px;
    background: #273746;
    position: absolute;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ui-slider-tick-mark {
    margin-left: -47.5%;
    height: 4px;
}
.ui-slider-tick-mark_large {
    margin-left: -42%;
    height: 8px;
}

.shell.left {
    margin-left: 5px;
}
.shell.right{
    /*overflow:visible;*/
}
.axis path,
.axis line {
    fill: none;
    stroke: #4d5057;
    shape-rendering: crispEdges;
    stroke-width: 2px;
}

#mainpink,
#mainblue,
#alphaErrorBlue,
#alphaErrorRed {
    stroke-width: 1.5;
}

#mainpink{
    fill-opacity:.7;
}
#smallpink,
#smallblue {
    stroke-width: 2;
    fill-opacity: 0;
}

#smallpink,
#mainpink {
    cursor: move;
    fill: Indianred;
    stroke: DarkRed;
}

#smallblue, #mainblue, #mainbluestroke {
    fill: #2980B9;
    stroke: #154360;
}

#mainbluestroke{
    fill: none;
    stroke-width:1px;
}

#smallpinktext {
    fill: DarkRed;
}

#smallbluetext {
    fill: #154360;
}

#smallbluetext,
#smallpinktext {
    font-size: 12px;
    font-family: Courier;
    text-anchor: middle;
}

#smallgreytext, #triangle {
    font-size: 12px;
    font-family: Courier;
    fill: grey;
    mix-blend-mode: multiply;
    fill-opacity:.7;
}
#triangle{
    fill: grey;
}
#dashedLine, #sampleMeanLine {
     fill: none;
     stroke: #283747;
     stroke-width: 2;
     stroke-dasharray: 4, 4;

}
#sampleMeanLine{
    stroke: grey;
             mix-blend-mode: multiply;
}
#alphaErrorBlue{
    stroke: #1F618D;
    fill: #1F618D;
    position: absolute;
    clip-path: url(#rect-clip);
}

#alphaErrorRed{
    fill: maroon;
    clip-path: url(#rect-clip-left);
}

.axis text {
    font-family: sans-serif;
    font-size: 12px;
}
#loader {
    position: relative;
    left: 50%;
    top: 65%;
    z-index: 1;
    margin: -66px 0 0 -66px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #2980B9;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

}
@-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
}
